body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.film-review-page {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 6em;
}

.film-review-header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.film-review-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.film-review-table th, .film-review-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.film-review-table th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.film-review-table td {
    text-align: center;
}

.film-review-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.film-review-table tr:hover {
    background-color: #ddd;
}

.film-review-table th:nth-child(2), .film-review-table td:nth-child(2) {
    width: 10%; /* Adjust the width as needed */
}

.film-review-table th:nth-child(3), .film-review-table td:nth-child(3) {
    width: 10%; /* Adjust the width as needed */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.timeline-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #007BFF;
}

.timeline-item {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-item .date {
    font-weight: bold;
    color: #007BFF;
}